.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  background-color: #264653;
  padding: 0px 20px;
}

.navbar-name-title > h1 {
  font-size: 27px;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  padding: 20px;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.navbar-links a:hover {
  color: #e9c46a;
  text-decoration: underline;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle-icon {
  font-size: 30px;
  color: white;
}

@media screen and (max-width: 430px) {
  .navbar {
    justify-content: space-around;
    padding-left: -100px;
  }

  .navbar-name-title h1 {
    font-size: 20px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #444;
  }

  .navbar-links.open {
    display: flex;
    margin-top: 10px;
  }

  .navbar-links a {
    padding: 15px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #555;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle-icon {
    font-size: 30px;
  }
}
