.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
}

.navbar-name-title > h1 {
  font-size: 27.2px;
  color: black;
  padding-left: 30px;
}

.navebar-links a {
  margin: 25px;
  font-size: 27.2px;
  text-decoration: none;
  color: #2d2e32;
  font-weight: 600;
}

.navebar-links a:hover {
  color: rgba(0, 0, 255, 0.61);
  text-decoration: underline;
}
