#projects {
  scroll-margin-top: 220px;
}

.projects-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-margin-top: 190px;
}

.project-card h1 {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.722);
}

.projects-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.project-card {
  max-width: 450px;
  margin-bottom: 40px;
  height: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.471);
  border-radius: 15px;
  cursor: pointer;
}

.project-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-info {
  text-align: left;
  padding: 20px;
  flex-grow: 2;
}

.project-info h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.722);
}

.projects-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  background-color: #264653;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2a9d8f;
}

.projects-section h3 {
  font-size: 27.2px;
}

@media screen and (max-width: 430px) {
  .projects-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 22px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .project-card {
    max-width: 80%;
    height: 440px;
    margin: 0 auto;
  }

  .project-card h1 {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.722);
  }

  .project-image {
    height: 180px;
  }

  .btn {
    font-size: 14px;
  }

  .project-info h3 {
    font-size: 20px;
  }

  .btn-container a {
    font-size: 10px;
  }
}

@media screen and (max-width: 320px) {
  .projects-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 120px;
  }

  .project-card {
    max-width: 100%;
    padding: 10px;
  }

  .project-image {
    height: 180px;
  }

  .btn {
    padding: 6px 12px;
    font-size: 12px;
  }

  .project-info h3 {
    font-size: 18px;
  }
}
