html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  overflow-y: auto;
  padding: 50px;
  box-sizing: border-box;
}

body {
  background-color: #e5f6f6;
}
