html,
body {
  margin: 0;
  padding: 0;
  /* height: 100%;
  width: 100%; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #264653;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: url("https://www.transparenttextures.com/patterns/stardust.png")
    repeat;
  background-size: cover;
  animation: moveStars 50s linear infinite;
}

@keyframes moveStars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 1000px;
  }
}
