:root {
  --main-font: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --main-color: rgba(0, 0, 0, 0.84);
  --hover-color: gray;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  gap: 60px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
  max-width: 300px;
  flex-shrink: 0;
}

.image > img {
  border-radius: 50%;
  height: auto;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.greeting {
  text-align: center;
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 30px;
}

.title {
  text-align: center;
  margin-top: -10px;
  font-family: var(--main-font);
  color: rgba(61, 52, 52, 0.874);
  font-weight: 500px;
  font-size: 30px;
}

h1 {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 40px;
  font-weight: 500px;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.btns > button {
  width: 140px;
  border-radius: 20px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.7s ease, transform 0.7s ease;
}

.btns > button:hover {
  background-color: black;
  transform: scale(1.05);
}
